---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { keywords } = Astro.props;

---

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION}>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href={Astro.request.url}>
	<link rel="icon" type="image/png" href="/favicon.png">
    <meta name="keywords" content={keywords} />
	 <script is:inline>
		// Wait for the window to load before triggering the animation
		window.onload = function() {
			const name = document.getElementById('name');
			const subhead = document.getElementById('subhead');
			name.classList.add('animate'); // Add the animate class to trigger the animation

			name.addEventListener('transitionend', () => {
				subhead.classList.add('fade-in')
			})

			subhead.addEventListener('transitionstart', () => {
				const svgElement = document.getElementById('pointDownFinger');
				let scale = 1;
				let growing = true;
				const maxScale = 1.2;
				const minScale = 0.8;
				const speed = 0.003;

				function animate() {
					if (growing) {
					scale += speed;
					if (scale >= maxScale) growing = false;
					} else {
					scale -= speed;
					if (scale <= minScale) growing = true;
					}

					svgElement.style.transform = `scale(${scale})`;
					svgElement.style.transformOrigin = "50% 50%"; // Ensure it scales from the center

					requestAnimationFrame(animate);
				}
				animate();


			})

			const pointDownEvent = (event) => {
				document.getElementById('whoAmI').scrollIntoView({ 
					behavior: 'smooth', // Smooth scrolling effect,
					block: 'start'
				});
			}

			document.getElementById('pointDownFinger').onclick = pointDownEvent
		};
	 </script>
</head>
